POSTGRES_USER="postgres_user"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_DB="postgres_db"
POSTGRES_PORT=5434
POSTGRES_HOST=127.0.0.1
PROJECT_ID=birdseye-dev-402803

# Use adhoc keys for manual local testing and development.
# Dev keys are also supplied for when the seo service is
# live if you need direct access to the keys running in the
# dev gcp project. The dev keys currently aren't in use.

OPENAI_API_KEY=""
PPLX_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
JWT_SECRET=""
LOGFIRE_TOKEN=""
